{
  "extends": "airbnb",
  "rules": {
    "semi": [
      1,
      "never"
    ],
    "max-len": [
      "error",
      140
    ],
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}